
<h3>@ViewBag.Message</h3>

<p>Please answer the following quick questions to get your Auto Insurance Quote.</p>

<div class="row no-gutters m-3 " style="background-image:url(/Content/Img/carAdvtr.jpg);
        background-position:center; background-repeat:no-repeat; background-size:cover; padding:10px;
        text-shadow: 0 0 15px white, 0 0 15px white;">
    <div class="card mx-auto shadow rounded border-primary">
        <div class="card-body text-center">
            @using (Html.BeginForm("Calculator", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col-md-12">
                        <label for="firstName">First Name</label>
                        <input name="FirstName" type="text" class="form-control-sm input-xs">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="lastName">Last Name</label>
                        <input name="LastName" type="text" class="form-control-sm input-xs">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="emailAddress">E-mail Address</label>
                        <input name="EmailAddress" type="email" class="form-control-sm input-xs">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="age">What is your current age?</label>
                        <select class="form-control-sm input-xs" name="Age">
                            <option value="Younger than 18">Younger than 18</option>
                            <option value="Bwt. 18-25">Between 18-25</option>
                            <option value="Bwt. 25-100">Between 25-100</option>
                            <option value="Older than 100">Older than 100</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="carYear">What Model-Year is your car?</label>
                        <select class="form-control-sm input-xs" name="CarYear">
                            <option value="Before 2000">Before 2000</option>
                            <option value="Between 2000-2015">Between 2000-2015</option>
                            <option value="After 2015">After 2015</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="carModel">What Model is your car?</label>
                        <select class="form-control-sm input-xs" name="CarModel">
                            <option value="Porsche">Porsche</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="carMake">What Make is your car?</label>
                        <select class="form-control-sm input-xs" name="CarMake">
                            <option value="911 Carrera">911 Carrera</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="tickets">How many speeding tickets do you have?</label>
                        <select class="form-control-sm input-xs" name="Tickets">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="DUI">Have you ever had DUI's?</label>
                        <select class="form-control-sm input-xs" name="DUI">
                            <option value="Yes">Yes, unfortunately.</option>
                            <option value="Never">Never</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="coverage">What type of coverage are you looking for?</label>
                        <select class="form-control-sm input-xs" name="CoverageType">
                            <option value="Full">Full coverage</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary"> Submit </button>
            }
        </div>
    </div>
</div>

