@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-shadow: 0 0 15px black, 0 0 15px black;"> Academy <br> Auto Insurace Calculator</h2>
</div>

<div class="row">
    <div>
        <p class="lead"> Customize your coverage to fit you life and budget.</p>
        <p><a href= "/Home/Coverage" class="btn btn-primary btn-lg">Get Quote &raquo;</a></p>
    </div>
</div>